<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-wate Locator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link rel="stylesheet" href="\home.css" rel="stylesheet" type="text/css">


    </head>
    <body>
   
        <!--header section starts-->

        <header>
            
             <a href="#" class="logo">E-waste locator</a>
            
             <nav class="navbar">
             <ul>
                <li> <a class="active" href="\home">home</a></li>
                <li><a href="\article">Article</a></li>
                <li><a href="steptostep">step to step guide</a></li>
                <li><a href="/map">Location</a></li>
                <li><a href="/credits">credit</a></li>
                

                
                </ul>
                </nav>
                </header>
<!--header selection ends-->

<!--Article section starts-->
<section class= "Article" id="Article">

<center>
      <h1 class= "heading">Some Articles to create Awareness </h1>
  
    <div class ="card-container">
   
        <div class="cards">
        <img src="images/E-waste.jpg" alt="" >
        <h3 class = "title"> E-waste</h3>
        <p>Every year millions of electrical and electronic devices are discarded as products
             break or become obsolete and are thrown away. These discarded devices are considered 
             e-waste and can become a threat to the environment and to human health if they are not 
             treated, disposed of, and recycled appropriately. Common items in e-waste streams
              include computers, mobile phones, and large household appliances, as well as medical
              equipment.
             
        </p>
        <a href="https://www.who.int/news-room/fact-sheets/detail/electronic-waste-%28e-waste%29" class="btn">Read  more</a>
    </align>
    </div>

    <div class="cards">
        
        <img src= "images/ewaste-m.jpg" >
        <h3 class = "title"> E-waste Awareness and Management </h3>
        <p> 
            All over the world, electronic devices or electrical appliances have become obligatory in our daily lives, which has led to an exponential demand 
            for electronic equipment and a rapid increase in the rate of electronic waste (e-waste) generation.
            E-waste, also known as Waste Electrical and Electronic Equipment (WEEE), consists of electrical and electronic devices including 
            all individual components such as batteries at the end of their useful life.E-waste is one of the fastest-growing municipal waste streams. 
            According to the global e-waste monitor 2020 report, on average, the total weight of global WEEE
             consumption increases annually by 2.5 million metric tons.
        </p>
        <a href="https://journals.sagepub.com/doi/full/10.1177/11786302221119145" class="btn">read more</a>
   
    </div>
    <div class="cards">
        <img src= "images/health.jpg"alt="">
        <h3 class = "title"> Health consequences of exposure to e-waste</h3>
        <p> 
            Electronic waste (e-waste) contains numerous chemicals harmful to human and ecological
             health. To update a 2013 review assessing adverse human health consequences of exposure
              to e-waste, we systematically reviewed studies reporting effects on humans related to
               e-waste exposure. We searched EMBASE, PsycNET, Web of Science, CINAHL, and PubMed for 
               articles published between Dec 18, 2012, and Jan 28, 2020, restricting our search to
                publications in English. Of the 5645 records identified, we included 70 studies that 
                met the preset criteria. People living in e-waste exposed regions had significantly
                 elevated levels of heavy metals and persistent organic pollutants. Children and 
                 pregnant women were especially susceptible during the critical periods of exposure
                  that detrimentally affect diverse biological systems and organs. 
        </p>
        
        <a href="https://www.thelancet.com/journals/lanplh/article/PIIS2542-5196(21)00263-1/fulltext" class="btn">Read more</a>
    </div>
</center>
</div>
</section>

<!--Article section ends-->



<!--footer section starts-->
<section class="footer">
    
    <h3>about us</h3>
        <h3>location</h3>
         <h3>quick link</h3>
         <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
          <h3 class ="tj">  contact info</h3>
          <div class="kika">
            <p> <i class= "fas fa-phone"></i> +123-678-5677</p>
            <p> <i class= "fas fa-envelope"></i>abc@gmail.com.</p>
            <p> <i class= "fas fa-map-market-alt"></i>delhi , india-5467.</p>
            </div>
           <br><br>
       
         
</div>
</section>
<!--footer section ends-->

<!--jquery cdn link-->
<script src="https://cdnj.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"</script></script>


</body>
</html>