<!DOCUTYPE html>
<html lang="en">
  
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-waste Locator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link rel="stylesheet" href="\home.css" rel="stylesheet" type="text/css">


    </head>
    <body>
   
        <!--header selection starts-->

        <header>
            
             <a href="#" class="logo">E-waste locator</a>
   
             <nav class="navbar">
             <ul>
                <li> <a class="active" href="\home">home</a></li>
                <li><a href="article">Article</a></li>
                <li><a href="\steptostep">step to step guide</a></li>
                <li><a href="\map">Location</a></li>
                <li><a href="/credits">credit</a></li>
              

                
                </ul>
                </nav>
                </header>
<!--header selection ends-->
<!--Recycle selection start-->
<section class="Recycle" id ="Recycle">
    <div class="Content">
        <h4 class= "heading">Recycling </h4>
        <br>
  <center>
        <img src="images\rec2.webp" alt="" > 
        </center>
        <br><br>
        <h1> What is Recycling</h1>
      <br>
      <p>
        E-waste recycling is the process of extracting valuable materials after shredding the e-waste into tiny pieces that 
        could be reused in a new electronic appliance. However, a number of current challenges are preventing the electronic
         recycling industry from scaling up.<br>
         Electronic waste or e-waste refers to discarded electric appliances. Each year, about 50 to 60 million tons of 
         e-waste are generated, equivalent to only 2-3% of annual global waste. Yet, the damage that this amount of waste
          poses to our health and the environment may exceed the destructive power of all other wastes combined. Since e-waste
           contains toxic materials, such as lead, cadmium, and beryllium, once it is exposed to strong UV radiation or corrodes
            due to any other physical or chemical reasons, toxic materials could be released into the atmosphere, infiltrate the soil,
             and flow into the water bodies nearby, affecting public health. 
            
        </p>
         <br>   
         <h1>Advantages/Benifits of E-waste Recycling </h1>
         <br>
        <p>
         E waste recycling has all sorts of benefits in addition to the protection of human health and the environment. Most of the 
         materials that make up our computers and smartphones are derived from non-renewable minerals; recycling these materials can
          prevent the supply of consumer goods that become inevitable in our lives from being suspended until substitutions are discovered.
           Although in certain cases, the non-renewable resources are not necessarily rare, the recycling of non-renewable but common minerals 
           still has economic benefits. 
        
        For example, the price of lithium, a non-renewable but relatively common mineral that can almost be found everywhere,
         has been booming. Lithium is widely used in multiple industries but is most known for its importance in the production 
         of rechargeable batteries for electric vehicles. The increased public attention on electric vehicles as a way to decarbonise 
         transportation saw the demand for lithium soar. Yet, the market has failed to keep up with this sudden surge in demand, causing
          lithium to be in short supply – not scarcity but from the slow pace of extraction and refinement. Recycling lithium-ion batteries 
          will provide an additional supply of lithium to the market, allowing businesses to produce batteries and electric vehicles that
           are customer-friendly as well as environmental-friendly at a lower price. <br>   
           </p>
          
           <h1> How Is E-Waste Recycling Done-:</h1>
        
      <br>
      <p>E-waste recycling is much more complicated than conventional waste recycling. 
       The first step of the recycling process is manual sorting. Once e-waste is collected and transported to the recycling 
        facilities, workers sort the e-waste into categories according to their types and models. Then, all electronic devices will be
         examined, and of which the parts that are still functional will be extracted to be reused; they can either be sold as 
         individual parts or be combined to form a new phone or computer. The e-waste left behind that is not functional will be
          sent to recycling processing.
           <br><br>

          Here, e-waste is thrown into an enormous machine and is shredded into tiny pieces, but before that, it must first go
            through a process called de-manufacturing, which refers to the action of disassembling a product into components. This 
            procedure is to remove all the potentially hazardous materials in electronic devices that will destroy the machine or contaminate the 
            environment once disposed into landfills. For example, the toner that can be found in a photocopier is extremely flammable 
            and explosive, and is certainly capable of blowing up the processing equipment if it gets shredded, given that so many
             things can act as fuel sources, such as plastic. This process is of utmost importance and must be performed by skilful workers.
           
       <br><br>
             Once waste is shredded, metals, the valuable parts that make the e waste recycling a profitable industry, will be separated.
             Unlike the former sessions, this process does not require manual sorting. A giant magnet will first attract all the ferromagnetic
             materials, like iron and steel, that have high susceptibilities to magnetisation. Then, further mechanical processing 
             separates other metals and alloys based on a physical law called Eddy Current, where paramagnetic materials, materials
             that are weakly attracted to magnets will be bounced away when an electric current is induced by an alternating magnetic field 
             with a repulsive force, while other non-magnetic materials, like plastic, will simply keep going.
       
            <br><br>
                Next, the waste is further separated with water. At this stage, almost everything leftover are non-magnetic materials; they
                will go through another machine filled with water, where materials with a low relative density, mostly plastic, will flow, 
                while other materials, like glass, will sink. Finally, before recycled materials are sold, is to check if there are any 
                remaining valuable materials stuck to the plastic.
       
        

            <br><br>
        </p>
    </div>
</section>
<!--Recycle selection end-->
<!--footer section starts-->

<section class="footer">
        <h3>location</h3>
         <h3>quick link</h3>
         <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
          <h3 class ="tj">  contact info</h3>
          <div class="kika">
            <p> <i class= "fas fa-phone"></i> +123-678-5677</p>
            <p> <i class= "fas fa-envelope"></i>abc@gmail.com.</p>
            <p> <i class= "fas fa-map-market-alt"></i>delhi , india-5467.</p>
            </div>
           <br><br>
       
         
    
</section>
<!--footer section ends-->

<!--jquery cdn link-->
<script src="https://cdnj.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"</script></script>


</body>
</html>