<!DOCUTYPE html>
<html lang="en">
   
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-waste Locator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link rel="stylesheet" href="\home.css" rel="stylesheet" type="text/css">


    </head>
    <body>
   
        <!--header selection starts-->

        <header>
            
             <a href="#" class="logo">E-waste locator</a>
   
             <nav class="navbar">
             <ul>
                <li> <a class="active" href="\home">home</a></li>
                <li><a href="\article">Article</a></li>
                <li><a href="\steptostep">step to step guide</a></li>
                <li><a href="\map">Location</a></li>
                <li><a href="/credits">credit</a></li>
               

                
                </ul>
                </nav>
                </header>
<!--header selection ends-->

<!--Step to step guide -->
<center>
<section class= "STSG" id="STSG">
    <h1 class= "heading">TO Recycle and Reuse </h1>
  
    <div class ="card-container">
   
        <div class="cards">
        <img src="images/recycle.jpg" alt="" >
        <h3 class = "title"> Recycling</h3>

        <p>
            E-waste recycling is the process of extracting valuable materials after shredding the e-waste into
             tiny pieces that could be reused in a new electronic appliance. However, a number of current 
             challenges are preventing the electronic recycling industry from scaling up.
             
        </p>
        <a href="\recycle" class="btn">Read  more</a>
    </align>
    </div>

    <div class="cards">
        
        <img src= "images/reuse.jpg" >
        <h3 class = "title"> Reuse </h3>
        <p> 
            E-waste reuse refers to the practice of extending the lifespan of electronic devices and components by refurbishing, repairing, 
     or repurposing them instead of disposing of them as waste. This approach aims to maximize the utility of electronic equipment while 
     minimizing its environmental impact.
        </p>
        <a href="reuse" class="btn">read more</a>
   
    </div>
</center>
    </section>



<!--footer section starts-->
<section class="footer">
    

        <h3>location</h3>
         <h3>quick link</h3>
         <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
          <h3 class ="tj">  contact info</h3>
          <div class="kika">
            <p> <i class= "fas fa-phone"></i> +123-678-5677</p>
            <p> <i class= "fas fa-envelope"></i>abc@gmail.com.</p>
            <p> <i class= "fas fa-map-market-alt"></i>delhi , india-5467.</p>
            </div>
           <br><br>
       
         
</div>
</section>
<!--footer section ends-->

<!--jquery cdn link-->
<script src="https://cdnj.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"</script></script>


</body>
</html>